/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
svg {
  border: 3px solid red;
}
@-webkit-keyframes spinnerRotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
image {
  position:fixed;
  -webkit-transform-origin:center center;
  -webkit-animation-name:spinnerRotate;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.enemy {
  href: "asteroid.png";
  background: green;
  width:200px;
  height:200px;
  display: block;
  border: 3px solid red;
}